/*footer*/
footer{
    display: flex;
    flex-direction: column;

    background-color: #EDBB99;

    p {
        margin: 3px;
        padding: 3px;
        color: black;
        text-align: center;
    }
    
}
 