/*footer*/
footer{
    position:static;
    left:0px;
    bottom:0px;
    
    width: 100%;
    margin-top: auto;
    background-color: #EDBB99;
    z-index: 1;
    

    p {
        margin: 3px;
        padding: 3px;
        color: black;
        text-align: center;

        img{
            width: 30px;
            height: 30px;
        }
    }
    
}
 