/*productos*/

/*galeria*/
.galeria{
    background-color: #FCF3CF;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    justify-items: center;
}

.imagenes img{
    border: 3px solid #C0392B;
    margin: 10px;
}