/*declaración de las areas de la grilla*/

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

section{
    grid-area: section;
}
aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

.envoltura{  
    width: 100%;
    background-color: #FEF5E7;
    margin-bottom: 1.5em;
    padding-bottom: 91px;
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "section"
    "section"
    "footer";
    gap: 10px;
}

