@media (min-width:500px){
    .envoltura{
        background-color: #F8F9F9;
      
    } 
}
 
@media (min-width:768px){
    .envoltura{
     background-color: white;
     grid-template-columns: 1fr 4fr 1fr;
     grid-template-areas: 
     "header header header"
     "nav nav nav"
     "section section aside"
     "section section aside"
     "section section aside"
     "footer footer footer";
     
    }   

   
    h1{
        color: #922B21;           
    }

    aside{
        display: grid;

        padding: 0;
        position: sticky;
        top: 0;
        left: 0;
        height: 620px;
        padding: 10px;
    }

    .imgAside{
        width: 190px;
        height: 500px;
    }
}

@media (min-width:1024px){
    
    .contacto{
        background-image: url(../images/pippi.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 150px;
        background-color: #F9E79F;
        
    }

    .main__logo{
        display: grid;

        height: 50px;
        width: 80px;
    }
    
    .imgAside{
        width: 300px;
        height: auto;
    }
}