@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mingzat&family=Raleway:wght@200;400;600&family=Trispace:wght@300;400&display=swap');
/*mobile first*/

*{
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column; 
    min-height: 100%;
}

/*estilos header*/

header{
    font-size: large;
    background-color: #C0392B;
    padding: 0;
    position: sticky;
    top: 0;
    left: 0;
    word-spacing: 3px;
}

.main__logo{
    display: none;
}

ul li{
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #F39C12;
}

h1{
    font-family: 'Mingzat', sans-serif;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;  
}

/*estilos de la section general*/


.pippi a{
    color: #C0392B;
    font-size: 20px;
    font-weight: bolder;
}

article{
    background-color: #F9E79F;
}

h2 {
    color: #CD6155;
    padding: 40px;
    margin: 10px;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;   
}

h4 {
    padding: 15px;
    font-style: oblique;
    font-family: 'Trispace', sans-serif;
    text-align: center;
    color: #922B21;
    letter-spacing: 1px;
}

p {
    padding: 5px;
    margin: 20px;
    font-size: 16px;
    text-align: justify;
    line-height: 1;
    color: #A93226;
    letter-spacing: 1px;
}

.volver{
    display: grid;
    text-align: left;    
}

/*Transformación*/

img:hover{
    transform: scale(1.1);
}

/*estilos img article*/

.principal img{
    display: flex;
    align-items: flex-start;

    border: 5px solid #C0392B;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-left: 20px;
}

.img__article{
    border: 5px solid #C0392B;
    width: 200px;
    height: 200px;
    margin-top: 15px;
    margin-left: 25%;
}

/*estilos contacto*/
.main__form{
    display: flex;
    flex-direction: column;

    padding: 5%;
    width: 50%;
    align-items: center;
    margin-left: 30%;
    border-radius: 5px;
    background-color: #EC7063;
    color: #78281F;
}

.main__form h2{
    padding: 1em;
    color: #78281F;
    font-size: 25px;
}

/*estilos historia*/

.frase{
    font-weight: bold;
    font-style: italic;
    color: #F39C12;
}

.velaHistoria {
    height: 180px;
    width: 200px;
    margin-left: 25%;    
}

/*productos*/

/*galeria*/
.galeria{
    background-color: #FCF3CF;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    justify-items: center;
}

.imagenes img{
    border: 5px solid #C0392B;
    width: 150px;
    height: 150px;
    margin-top: 15px;
}

/* estilos aside */

aside{
    padding: 50px;
    background-color: #F7DC6F;
}

/*footer*/
footer{
    display: flex;
    flex-direction: column;

    background-color: #EDBB99;
}
footer p {
    color: black;
    text-align: center;
}

/*declaración de las areas de la grilla*/

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

section{
    grid-area: section;
}


aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

.envoltura{
    width: 100%;
    background-color: #EDBB99;
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "section"
    "aside"
    "footer";
    gap: 10px;
}

@media (min-width:500px){
    .envoltura{
        background-color: #F9E79F;
        display: grid;
        grid-template-areas: 
        "header header"
        "nav nav"
        "section aside"
        "section aside"
        "footer footer";
    }    
}

@media (min-width:768px){
    .envoltura{
     background-color: #EAFAF1;
     margin-bottom: 1em;
     grid-template-columns: 1fr 4fr 1fr;
     grid-template-areas: 
     "header header header"
     "nav nav nav"
     "section section aside"
     "section section aside"
     "footer footer footer";
    }   

   
    h1{
        color: #922B21;           
    }
}

@media (min-width:1024px){
    
    .contacto{
        background-image: url(../images/pippi.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 150px;
        background-color: #F9E79F;
        
    }

    .main__logo{
        display: grid;

        height: 50px;
        width: 80px;
    }
    
}